:root {
  --gn: #fff;

  --roboto: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --playf: 'Playfair Display', serif;
  --cl1: #000000;
  /*прочий текс*/
  --cl2: #41A28E;
  /*формы*/
  --listclr: #E5E5E5;
  /* цвет текста*/
  --listbcg: #E5E5E5;
  /*фон дропменю*/
  --textbcgblur: #000000B2;
  /*затемнение текста*/
  --ftrbcg: #121212;
  /*footer*/

}


.aside__nav {
  position: fixed;
  top: 76px;
  bottom: 0;
  left: -95px;
  width: 95px;
  background-color: #fff;
  z-index: 700;
  border-right: 1px solid rgb(194, 194, 194);
  display: flex;
  transition: 420ms all;
}
.aside__nav::after {
  content: '';
  position: absolute;
  right: -15px;
  top: 50%;
  background-color: #ddd;
  border-top: 1px solid gray;
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;

  height: 100px;
  width: 15px;
}

.aside__nav:hover {
  left: 0;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}

.wrapper__items {
  color: var(--ftrbcg);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 18px;
  width: 100%;
  padding: 40px 0;
}
.aside__link:hover {
  color: var(--gn);
}
.wrapper__items:hover, .aside__link:hover {
  background-color: var(--cl2);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 600;
  right: 0;
  border-bottom: 1px solid rgb(194, 194, 194);
}

.header__nav {
  background-color: var(--gn);
}

.nav__title {
  transition: 250ms all;
}

.nav__title:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.container {
  max-width: 1111px;
  padding: 0 15px;
  margin: 0 auto;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/* -------------------------------------------- */
.header__menu {
  display: flex;
  gap: 15px;
  position: relative;
}

.nav__links:hover {
  text-decoration: underline;
}

.header__menu_sub {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.10);
  z-index: 1;
  top: 77px;
}

.header__menu_sub li {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border: 1px solid rgba(0, 0, 0, 0.181);
}

.nav__links {
  display: block;
  padding: 28px 0;

}

.header__menu_sub li:hover {
  background-color: var(--listbcg);
  border: 1 px solid rgba(198, 198, 198, 0.498);
}

ul li:hover>ul {
  display: initial;
}

/* -------------------------------------------- */



.forms {
  display: flex;
  align-items: center;
}

.forms__input {
  color: #4B4848;
  font-family: var(--roboto);
  font-size: 14px;
  font-weight: 400;
  padding: 4px 125px 6px 12px;
  border: 1px solid var(--cl2);
  outline: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.forms__input::-webkit-search-cancel-button {
  display: none;
}

.forms__btn {
  display: block;
  padding: 7px 10px 7px 10px;
  border: none;
  outline: none;
  background-color: var(--cl2);
  cursor: pointer;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}